body {
  font-family: Helvetica, Times, serif;
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #403325;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: Helvetica, Times, serif;
}

ul li a:hover {
  background-color: #ebe2d9;
  color: #111111;
  transition: background-color 0.1s, color 0.1s;
}

html {
  margin: 0;
  padding: 0;
}

h1 {
  --padding: 60px;
  font-family: Helvetica, Times, serif;
  font-size: 50px;
  text-align: center;
  color: #FFFFFF;
  background-color: #e4ccb4;
  margin: 0;
  padding-bottom: 50px;
  padding-top: var(--padding);
}

h2 {
  font-family: Helvetica, Times, serif;
}

p.normal {
  font-style: normal;
  font-family: Helvetica, Times, serif;
}

p.italic {
  font-style: italic;
}

p.oblique {
  font-style: oblique;
}